@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");
/* variables */

$ff: "Inter", sans-serif;
$ff-two: "Epilogue", sans-serif;
$navLinkColor: #363636;
$blueShade: #1b1642;
$pry: #e6f8f9;
$sec: #1bd3c6;
$light: #d2d0db;
$clear: #ffffff;
$dark-shade: #4a4a4a;

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: $ff;
  font-size: 16px;
}

.fluid-layout {
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.max-width {
  width: 90%;
  margin: 0 auto;
  @media screen and (min-width: 2000px) {
    width: 1320px;
    margin: 0 auto;
  }
}

.ptb5 {
  padding: 5rem 0;
}

nav,
header {
  background: $pry;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 500ms;
  width: 100%;
}

header {
  padding-top: 12rem;
}

.nav__inner {
  justify-content: space-between;
  padding: 2rem 0;
  overflow: hidden;
}

.nav__list,
.nav__list--sublist {
  list-style-type: none;
}

.nav__list {
  display: flex;
  gap: 5rem;
}

@media screen and (max-width: 768px) {
  .nav__list {
    display: grid;
    gap: 1rem;
    padding-left: 1rem;
  }
}

.nav__list--item a {
  color: $navLinkColor;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.nav__list--item a:hover {
  color: $navLinkColor;
  text-decoration: none;
}

.nav__list--item:hover .nav__list--sublist {
  display: block;
}

.nav__list--sublist li {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
  color: $dark-shade;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .nav__list--item a::after {
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.625em;
    margin-top: -0.5rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.625em;
    border-color: #4a4a4a;
    right: -1.3rem;
  }

  .nav__list--sublist {
    display: none;
    background: $clear;
    position: absolute;
    width: 200px;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 6px;
    box-shadow: 0 8px 8px rgba(0.1, 0.1, 0.1, 0.1),
      0 0 0 1px rgba(0.1, 0.1, 0.1, 0.1);
  }

  .nav__list--sublist li {
    padding-bottom: 1.2rem;
  }
}

.nav__sideContent {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav__actionBtn {
  @media screen and (max-width: 768px) {
    padding-left: 1rem;
  }
}

.nav__actionBtn button {
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.nav__actionBtn button:nth-of-type(1) {
  border: 1px solid $blueShade;
  color: $blueShade;
  background: transparent;
}

.nav__actionBtn button:nth-of-type(1):hover {
  transition: all 500ms;
  background: $blueShade;
  color: $clear;
}

.nav__actionBtn button:nth-of-type(2) {
  border: 1px solid $sec;
  color: $blueShade;
  background: $sec;
}

.nav__actionBtn button:nth-of-type(2):hover {
  transition: all 500ms;
  background: $pry;
}

@media screen and (max-width: 768px) {
  .nav__mobile--toggle div {
    background: $navLinkColor;
    width: 25px;
    height: 1px;
    margin-bottom: 0.3rem;
    cursor: pointer;
    transition: all 500ms;
  }

  .active {
    div {
      margin-bottom: 0.5rem;
    }
    div:nth-of-type(1) {
      transform: translateY(5px) rotate(45deg);
      width: 20px;
    }

    div:nth-of-type(2) {
      display: none;
    }

    div:nth-of-type(3) {
      transform: translateY(-5px) rotate(-45deg);
      width: 20px;
    }
  }

  .nav__sideContent {
    position: absolute;
    background: $clear;
    bottom: -26rem;
    width: 100%;
    display: grid;
    gap: 1rem;
    right: -1rem;
    padding: 1rem;
    transform: translateX(110%);
    transition: all 500ms;
  }

  .nav__active {
    transform: translateX(0);
    transition: all 500ms;
  }

  .nav__list--sublist {
    padding-top: 1rem;
  }
}

.header__inner {
  padding: 5rem 0;
  display: flex;
  gap: 3rem;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.header__title {
  font-size: 4rem;
  color: $blueShade;
  line-height: 4.25rem;
  letter-spacing: -2px;
  font-weight: 600;
  @media screen and (max-width: 767px) {
    font-size: 2rem;
    line-height: 1.125;
  }
}

.header__note {
  font-weight: 300;
  font-size: 1rem;
  color: $blueShade;

  @media screen and (min-width: 1000px) {
    width: 75%;
  }
}

.ptb2 {
  padding: 2rem 0;
}

.header__btn {
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid $sec;
  color: $blueShade;
  background: $sec;
}

.header__btn:hover {
  transition: all 500ms;
  background: $pry;
}

.header__img img {
  width: 100%;

  @media screen and (max-width: 500px) {
    display: none;
  }
}

.offer {
  &__inner {
    display: flex;
    gap: 3rem;
    align-items: center;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__text{
      @media screen and (min-width:1200px) {
          width: 60%;
      }
  }

  &__text,
  &__strike,
  &__duration {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.125;
    color: $blueShade;
    letter-spacing: -1px;
  }

  &__strike {
    text-decoration: line-through;
  }

  &__duration {
    color: $sec;
  }

  &__img {
    img {
      width: 100%;
    }
  }
}

.alumni {
  &__figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__imgCtn {
    img {
      width: 128px;
      height: 128px;
      border-radius: 50%;
    }
  }

  &__topic {
    text-align: center;

    @media screen and (min-width:1200px) {
        width: 70%;
        margin: 0 auto;
    }
  }

  &__note {
    font-weight: 300;
    font-size: 1rem;
    color: $blueShade;
  }

  &__box {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__infor {
    text-align: center;
  }

  &__name {
    font-weight: 700;
    font-size: 1.25rem;
    color: $blueShade;
  }

  &__career {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.5rem 0;
  }

  &__company {
    font-weight: 300;
    font-size: 1rem;
    color: $blueShade;
  }
}

.testimonial {
  background: $blueShade;

  &__review {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    padding-bottom: 2rem;
    color: $light;
    text-align: center;

    @media screen and (min-width: 768px) {
      width: 60%;
      margin: 0 auto;
    }
  }

  &__figure {
    text-align: center;

    @media screen and (min-width: 900px) {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
    }

    &--ctn {
      @media screen and (min-width: 900px) {
        text-align: left;
      }
    }
    img {
      width: 128px;
      height: 128px;
      border-radius: 50%;
    }

    &--name {
      font-weight: 700;
      font-size: 1.25rem;
      color: $sec;
      padding-bottom: 0.5rem;
    }

    &--details {
      font-size: 0.75rem;
      text-transform: uppercase;
      color: $light;
    }
  }
}

.brands {
  &__box {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);

    img {
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.alert {
  background: $sec;
  border-radius: 1rem;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__topic {
    font-size: 3rem;
    font-weight: 700;
    color: $blueShade;
    line-height: 1.125;
    letter-spacing: -1px;
    padding-bottom: 0.5rem;
  }

  &__btn {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
    button {
      cursor: pointer;
      transition: all 500ms;
      font-size: 1.2rem;
      padding: 0.8rem 1.5rem;
      border-radius: 4px;
      width: max-content;
    }
    button:nth-of-type(1) {
      background: $clear;
      color: $blueShade;
      border: 0.5px solid $clear;

      &:hover {
        color: $clear;
        background: $blueShade;
      }
    }
    button:nth-of-type(2) {
      color: $clear;
      background: $blueShade;
      border: 0.5px solid $blueShade;

      &:hover {
        background: $clear;
        color: $blueShade;
      }
    }
  }
}

footer {
  background: $blueShade;
  color: $clear;
  margin-top: 3rem;
}

.footer {
  &__inner {
    display: grid;
    gap: 5rem;
    width: 90%;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      //  grid-template-columns: repeat(4,1fr);
      display: flex;
      justify-content: space-between;
    }
  }

  &__info {
    a {
      display: grid;
      color: $clear;
      text-decoration: none;
      padding-bottom: 0.5rem;
      cursor: pointer;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  &__header {
    color: #797492;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 1rem;
    text-transform: uppercase;
  }
}
